.DS_Store
.vscode/
__pycache__/
Measurements/
Archives/
Scratchpad/
build/
dist/
Test Results/
*.csv
logs/
tempCodeRunnerFile.py
Raw Data/
Peaks/
output/
testcases/
msword_output/
sigs/
output_sheets/
*.json
!default.json